body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
}

#message {
    font-size: 2em;
    color: green;
}

.hidden {
    display: none;
}
